@model ECommerce.Models.Carts.CartViewModel

<h2>Your Cart</h2>

@if (Model.cartList.Count() == 0)
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cartList)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>₹@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>₹@(item.Quantity * item.Price)</td>
                    <td>
                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@item.ProductId" class="btn btn-danger">
                            Remove
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3" class="text-end"><strong>Total Amount to be Paid:</strong></td>
                <td colspan="2">
                    <strong>₹@Model.cartList.Sum(item => item.Price * item.Quantity)</strong>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-end mt-3">

        <a asp-controller="Order" asp-action="Checkout" class="btn btn-success btn-lg">
            Buy Now
        </a>
    </div>
}
