@model ECommerce.Models.Product

@{
    ViewData["Title"] = "Add Product";
}

<h2>Add a New Product</h2>

<form asp-controller="Product" asp-action="SaveProduct" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <select asp-for="Category" >
            <option value="">--Select--</option>
            <option value="Toys">Toys</option>
            <option value="Icecream">Icecream</option>
            <option value="Food">Food</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Add Product</button>
</form>

<a class="btn btn-secondary mt-2" href="/Product">Back to Products</a>
